body {
	margin: 0;
	padding: 0;
}

.blurb {
    background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)),
    url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.nasa.gov%2Ffeature%2Fgoddard%2F2020%2Fhubble-marks-30-years-in-space-with-tapestry-of-blazing-starbirth&psig=AOvVaw2t7bwKKXwIYvSU9PZeR12-&ust=1631147196240000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCPimpPyO7vICFQAAAAAdAAAAABAD');
	font-family: 'Roboto Mono';
	font-size: 22;
	color: white;
	padding: 300px;
	background-size: cover; 
	margin: 0px;
}

.button {
    background-color: black;
    border: 2px solid white;
    color: white;
    transition-duration: 0.4s;
    border-radius: 12px;
    font-size: 24px;
}

.button:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
    border-radius: 12px;
    font-size: 24px;
}

.Spic {
    background-image: url("https://lh3.googleusercontent.com/NcRpp1l8duQG5-_xp1AArCfOg-yERAYKQaPIMWMfxFnB4BiLVMGxDWpkhXBDj0RGHQ=h556");
	font-family: 'Trebuchet MS', serif;
	font-size: 50px;
	color: white;
	padding: 300px;
	background-size: cover; 
	margin: 0px;
}

.Cpic {
    background-image: url("https://www.thebmc.co.uk/Handlers/ArticleImageHandler.ashx?id=7467&index=0&w=605&h=434");
	font-family: 'Trebuchet MS', serif;
	font-size: 50px;
	color: white;
	padding: 300px;
	background-size: cover; 
	margin: 0px;
}

.Npic {
	background-image: url("https://cdn.eso.org/images/screen/b01.jpg");
	font-family: 'Trebuchet MS', serif;
	font-size: 50px;
	color: white;
	background-size: cover; 
	height: 750px;
	margin: 0px;
}

#small {
	font-size: 20px;
}

#table1 {
	background-color: #69169B;
	color: white;
	text-align: left;
	font-size: 20px;
}

#table2 {
	font-size: 20px;
	border: 0px;
}

#table3 {
	font-size: 20px;
	border: 0px;
}

#footer1 {
	font-family: 'Trebuchet MS';
}

table, th, td {
	font-family: 'Trebuchet MS';
	border: 1px solid black;
	border-collapse: collapse;
	margin-left: 150px;
}

.navbar {
	background-color: black;
	opacity: 0.6;
	position: fixed;
	width: 100%;
	border: 2px solid white;
	height: 45px; 
	font-size: 20px;
}


.navbar a{
	color: white;
	opacity: 1;
}

#navbar1:hover a{
	color: #cc99cc;
	opacity: 0.8;
}

#navbar2:hover a{
	color: #cc99cc;
	opacity: 0.8;
}

#navbar3:hover a{
	color: #cc99cc;
	opacity: 0.8;
}

#navbar4:hover a{
	color: #cc99cc;
	opacity: 0.8;
}